/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        overflow: hidden;
    }

/* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
        padding-bottom: 5000px;
        margin-bottom: -5000px;
    }

/* Set black background color, white text and some padding */
    footer {
        background-color: #c6c3de;
        color: black;
        padding: 5px;
    }


    .column img{
        width: 30%;
    }
/* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
            margin: 0px;
        }
        .row.content {height:auto;}
        .column img {
                width: 30%
        }
    }

/* animation */
    img:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

.container {
    position: relative;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container .content {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 100px; /* Some padding */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
    padding: 20px;
}


.invalid {
    color: red;
}

.valid {
    color: green;
}

.form-control input:focus{
    outline: none;
}

.form-control.success {
    border-color: limegreen;
}

.form-control.error {
    border-color: red;
}

.form-control.error small{
    visibility: visible;
}

.form-control.error {
    border-color: red;
}